# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.cmake
.vs/opengl_dz/v16/.suo
.vs/opengl_dz/v16/Browse.VC.db
.vs/opengl_dz/v16/Browse.VC.opendb
.vs/opengl_dz/v16/ipch/AutoPCH/36ee23010ec169ce/SIMULATOR.ipch
.vs/opengl_dz/v16/ipch/AutoPCH/3950d74286928b3d/MAIN.ipch
.vs/opengl_dz/v16/ipch/AutoPCH/7a18af8b596f6890/VISUALIZER.ipch
.vs/opengl_dz/v16/ipch/AutoPCH/815cfe642fd227e3/MAIN.ipch
.vs/slnx.sqlite
.vs/slnx.sqlite-journal
out/build/x64-Debug/.cmake/api/v1/reply/cache-v2-7773efa86018fc350343.json
out/build/x64-Debug/.cmake/api/v1/reply/cmakeFiles-v1-e4c355162b3994ea9440.json
out/build/x64-Debug/.cmake/api/v1/reply/codemodel-v2-287ab3b1a361b57cbb41.json
out/build/x64-Debug/.cmake/api/v1/reply/index-2020-04-12T15-38-53-0859.json
out/build/x64-Debug/.cmake/api/v1/reply/target-main-Debug-14ba6ec45cf9c1f0366d.json
out/build/x64-Debug/.ninja_deps
out/build/x64-Debug/.ninja_log
out/build/x64-Debug/build.ninja
out/build/x64-Debug/cmake_install.cmake
out/build/x64-Debug/CMakeCache.txt
out/build/x64-Debug/CMakeFiles/3.14.19050301-MSVC_2/CMakeDetermineCompilerABI_C.bin
out/build/x64-Debug/CMakeFiles/3.14.19050301-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
out/build/x64-Debug/CMakeFiles/CMakeOutput.log
out/build/x64-Debug/CMakeFiles/feature_tests.bin
out/build/x64-Debug/CMakeFiles/main.dir/embed.manifest
out/build/x64-Debug/CMakeFiles/main.dir/intermediate.manifest
out/build/x64-Debug/CMakeFiles/main.dir/manifest.rc
out/build/x64-Debug/CMakeFiles/main.dir/manifest.res
out/build/x64-Debug/CMakeFiles/main.dir/vc140.idb
out/build/x64-Debug/CMakeFiles/main.dir/vc140.pdb
out/build/x64-Debug/CMakeFiles/TargetDirectories.txt
out/build/x64-Debug/fragment.frag
out/build/x64-Debug/main.ilk
out/build/x64-Debug/main.pdb
out/build/x64-Debug/rules.ninja
out/build/x64-Debug/Testing/Temporary/LastTest.log
out/build/x64-Debug/vertex.vert
